{% extends 'page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cv') }}
{% endblock %}

{% block body %}
<main>
    <div class="container">
        <section class="section cvSection cvSkills">
            <div class="row">
                <div class="col-12">
                    <h2>Compétences</h2>
                </div>
                {% for skill in skills %}
                    <div class="col-12 col-md-6">
                        <article class="item cvSkill">
                            <h3>{{ skill.title }}</h3>
                            <ul>
                            {% for item in skill.items %}
                                <li>
                                    <h4>{{ item.title }}</h4>
                                    {% if item.description is iterable %}
                                        <ul>
                                        {% for descItem in item.description %}
                                            <li>
                                                <span class="smallTitle">{{ descItem.title }} :</span> {{ descItem.description }}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>{{ item.description }}</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="section cvSection cvCursus">
            <div class="row">
                <div class="col-12">
                    <h2>Parcours</h2>
                </div>
                {% for item in cursus %}
                    <div class="col-12">
                        <article class="item cvCursusItem">
                            <div class="row">
                                <div class="col-12">
                                    <h3>{{ item.title }}</h3>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="description">{{ item.description }}</div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 col-md-4 mb-1 text-md-center">
                                    <div class="places">
                                        <ul class="mb-0">
                                            {% for place in item.places %}
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i>{{ place }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mb-1 text-md-center">
                                    <div class="referent">
                                        <ul class="mb-0">
                                            {% for person in item.persons %}
                                                <li>
                                                    <i class="fas fa-user"></i>{{ person }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mb-1 text-md-center">
                                    <div class="dates">
                                        <ul class="mb-0">
                                            {% for date in item.dates %}
                                                <li>
                                                    <i class="fas fa-calendar-alt"></i>{{ date }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}
