{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block header %}
    <h1>{{ title }}</h1>
    <nav>
        <ul class="d-lg-none linkList" id="mobile-nav">
            <li>
                <a href="{{ path('cv') }}">CV</a>
            </li>
            <li>
                <a href="{{ path('sensibilisation') }}">Sensibilisation</a>
            </li>
            <li>
                <a href="{{ path('research') }}">Research</a>
            </li>
        </ul>
        <div id="tree-container">
            {{ include('home/nav-tree.html') }}
        </div>
    </nav>
{% endblock %}

{% block body %}
<main>
<ul class="social linkList">
    <li>
        <a href="mailto:camillepuverel@hotmail.fr">
            <i class="fas fa-envelope"></i>
        </a>
    </li>
    <li>
        <a href="https://orcid.org/0000-0002-8593-2223">
            <i class="fab fa-orcid"></i>
        </a>
    </li>
    <li>
        <a href="https://www.researchgate.net/profile/Camille_Puverel">
            <i class="fab fa-researchgate"></i>
        </a>
    </li>
</ul>
</main>
{% endblock %}
