{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block header %}
    <nav>
        {{ include('home/nav-tree.html') }}
        <ul class="d-sm-none" id="mobile-nav">
            <li>
                <a href="/cv">CV</a>
            </li>
            <li>
                <a href="/sensibilisation">Sensibilisation</a>
            </li>
            <li>
                <a href="/research">Research</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
<main>
<h1>Camille Puverel</h1>
<ul class="social">
    <li>
        <a href="mailto:camillepuverel@hotmail.fr">
            <i class="fas fa-envelope"></i>
        </a>
    </li>
    <li>
        <a href="https://orcid.org/0000-0002-8593-2223">
            <i class="fab fa-orcid"></i>
        </a>
    </li>
    <li>
        <a href="https://www.researchgate.net/profile/Camille_Puverel">
            <i class="fab fa-researchgate"></i>
        </a>
    </li>
</ul>
</main>
{% endblock %}
