<svg id="tree" version="1.1" viewBox="0 0 508 264.58" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <metadata id="metadata2284">
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g id="layer1">
  <a id="a3239" transform="translate(8.3426 1.0244)" href="/cv">
   <g id="menu1">
    <rect id="rect1787" x="64.178" y="79.93" width="49.757" height="26.946" stroke-width=".21075"/>
    <text id="text1791" x="77.874405" y="99.366547" fill="#000000" font-family="sans-serif" font-size="16.933px" letter-spacing="0px" stroke-width=".26458px" word-spacing="0px" style="line-height:10.5833px" xml:space="preserve"><tspan id="tspan1789" x="77.874405" y="99.366547" fill="#ffffff" font-size="16.933px" stroke-width=".26458px">CV</tspan></text>
   </g>
  </a>
  <a id="a3227" transform="translate(-12.444 10.168)" href="/research">
   <g id="menu3" transform="translate(-9.374 15.897)">
    <rect id="rect1798" x="410.78" y="70.659" width="92.83" height="26.637" stroke-width=".26458"/>
    <text id="text1802" x="418.55774" y="90.119171" fill="#000000" font-family="sans-serif" font-size="16.933px" letter-spacing="0px" stroke-width=".26458px" word-spacing="0px" style="line-height:10.5833px" xml:space="preserve"><tspan id="tspan1800" x="418.55774" y="90.119171" fill="#ffffff" font-size="16.933px" stroke-width=".26458px">Research</tspan></text>
   </g>
  </a>
  <a id="a3233" href="/sensibilisation">
   <g id="menu2" transform="translate(-2.5941 -35.263)">
    <rect id="rect1809" x="281.1" y="43.672" width="131.89" height="27.536" stroke-width=".28355"/>
    <text id="text1813" x="285.20932" y="63.124645" fill="#000000" font-family="sans-serif" font-size="16.933px" letter-spacing="0px" stroke-width=".26458px" word-spacing="0px" style="line-height:10.5833px" xml:space="preserve"><tspan id="tspan1811" x="285.20932" y="63.124645" fill="#ffffff" font-size="16.933px" stroke-width=".26458px">Sensibilisation</tspan></text>
   </g>
  </a>
  <path id="seed" d="m253.07 7.0605c2.4878-0.47466 3.4029-0.62885 6.0423 8.8e-4 1.4396 0.77314 1.2883 2.5527 0.52903 3.8716-0.29209 0.50734-0.67417 0.9465-1.0902 1.2339-2.0647 1.5352-4.7506 1.4749-7.1693 1.5144-2.3454 0.31236-5.17-3.1202-2.5832-4.907 0.88077-0.64868 1.5846-0.86275 2.6299-1.1938z" fill-rule="evenodd" stroke="#000" stroke-width=".61963"/>
  <g id="g1041" fill="none" stroke="#000" stroke-width="1.5875">
   <path id="ground" d="m56.575 227.24c197.42-13.338 163.51-10.876 421.44-5.3077"/>
   <path id="branch1" d="m233.06 217.02c12.933-20.13 12.066-45.689 6.6541-68.117-4.1208-18.19-14.925-34.521-28.735-46.87-13.08-11.692-30.14-18.801-47.713-19.385-14.81-1.0473-29.935 1.8442-43.165 8.6336"/>
   <path id="branch2" d="m274.1 217.78c-24.388-46.857 11.967-113.54 65.614-115.11 15.6-0.44555 32.019-1.4766 46.581 5.2295"/>
   <path id="branch3" d="m265.04 143.33c-1.2298-20.846 39.539-37.278 41.13-52.148 2.9571-16.582-6.8009-18.785 8.2486-31.749"/>
   <path id="branch4" d="m251.52 132.29c8.5008-20.517-4.9073-53.856-20.55-65.56-14.307-12.164-32.309-26.854-29.463-47.937"/>
   <path id="branch5" d="m254 118.84c16.125-21.04 33.707-49.887 19.53-76.497"/>
   <path id="branch6" d="m235.69 70.99c-11.883-15.876 14.303-23.695 18.306-35.697"/>
   <path id="branch7" d="m306.36 89.976c2.8809-14.021 20.133-15.666 29.721-23.374 7.9766-5.1852 10.11-19.723 8.7987-29.231"/>
   <path id="branch8" d="m318.88 106.53c5.6997-3.3127 12.448-3.9462 18.359-6.7584 13.89-3.1367 24.962-13.46 32.527-25.116 6.5587-9.1876 12.95-19.63 23.896-24.064"/>
   <path id="branch9" d="m207.81 99.354c-14.203-11.802-21.223-32.588-16.381-50.616"/>
   <path id="branch10" d="m192.08 75.065c-14.737-18.54-38.397-29.703-61.981-30.1"/>
   <path id="branch11" d="m163.39 52.741c-9.4122-8.3013-10.639-22.641-12.048-34.301"/>
   <path id="branch12" d="m272.75 88.651c3.7564-7.816 12.586-12.774 20.289-16.163"/>
  </g>
 </g>
</svg>
