{% extends 'page.html.twig' %}

{% block body %}
<main>
    <div class="container">
        <section class="section researchSection">
            <h2>Research interests</h2>
            {% for content in contents %}
                <article class="researchContent">
                    <div class="content">
                        {{ content.content }}
                    </div>
                </article>
            {% endfor %}
        </section>
        <section class="section researchSection">
            <h2>Publications</h2>
            {% for article in publications %}
                <article class="researchArticle">
                    <a target="_blank" rel="noopener noreferrer" class="blockLink" href="{{ article.url }}" title="Article page" alt="Article page">
                        <div>
                            {{ article.citation }}
                        </div>
                    </a>
                    <ul class="mt-4">
                        <li>
                            <a class="button" href="{{ asset('build/documents/' ~ article.file) }}" download title="Download PDF" alt="Download PDF">Download PDF</a>
                        </li>
                    </ul>
                </article>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}
