@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

$bgColor: #151515;
$fgColor: #fbfffb;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Boogaloo', cursive;
}

.credits {
    margin: 5px 10px;
    position: absolute;
    font-size: 0.8em;
    font-family: sans-serif;
    font-style: italic;
    color: $fgColor;
    bottom: 0;
    right: 0;
}
