$bgColor: #151515;
$fgColor: #fbfffb;

// $secondaryColor: #092c52;
$secondaryColor: #000;
$neonBlue: #5fddfc;
// $neonBlue: #c6e2ff;

// font sizes
// $mobileFontSize: 1rem;
// $neonColor: red;

$lgBreakpoint: 992px;

$treeDelay: 1s;
$initialOffset: 300;

// h1, h2, h3, h4, h5, h6 {
//     font-family: 'Boogaloo', cursive;
// }



// *****************************************************************************
// HEADER
// *****************************************************************************

header {
    font-family: 'Boogaloo', cursive;

    h1 {
        font-size: 2.5em;
        margin: 20px;
    }

    nav {
        font-size: 2.5em;
    }
}


// *****************************************************************************
// MAIN
// *****************************************************************************

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    border: 1px solid $bgColor;
}

ul {
    list-style: none;
    padding: 0;
}

.social {
    display: flex;
    justify-content: center;

    li {
        font-size: 3em;
        margin: 0 15px;
    }
}


// *****************************************************************************
// SVG TREE
// *****************************************************************************

#tree-container {
    width: 100%;
}

#tree {
    margin: 0 auto;
    width: 100%;
    max-height: 27%;
    max-width: 510px;


    path, circle, rect {
        font-variation-settings:normal;
        opacity:1;
        fill: none;
        fill-opacity: 1;
        fill-rule: evenodd;
        stroke: $fgColor;
        stroke-width: 2px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
        stroke-dasharray: none;
        stroke-opacity: 1;
        stop-color: $fgColor;
        stop-opacity: 1;
        stroke-dashoffset: 0;
    }
    rect {
        fill: $bgColor;
        stroke: $bgColor;
    }
    tspan {
        transition: all 0.3s ease-in 0s;
    }
    tspan:hover {
        stroke: #c6c6c6!important;
        fill: #c6c6c6!important;
    }

    #branch1, #branch2, #branch3, #branch4, #branch5, #branch6,
    #branch7, #branch8, #branch9, #branch10, #branch11, #branch12 {
        @media (min-width: $lgBreakpoint) {
            stroke-dasharray: $initialOffset;
            stroke-dashoffset: $initialOffset;
            animation: dash 2s ease-in forwards;
        }
    }
    #branch1, #branch2 {
        animation-delay: $treeDelay;
    }
    #branch3, #branch4 {
        animation-duration: 1s;
        animation-delay: $treeDelay + 1s;
    }
    #branch5, #branch6 {
        animation-duration: 1s;
        animation-delay: $treeDelay + 1.5s;
    }
    #branch7, #branch8, #branch9, #branch10, #branch11, #branch12 {
        animation-duration: 1s;
        animation-delay: $treeDelay + 2s;
    }
    #ground {
        @media (min-width: $lgBreakpoint) {
            stroke-dasharray: $initialOffset + 200px;
            stroke-dashoffset: $initialOffset + 200px;
            animation: dash 1s linear forwards;
            // animation-delay: $treeDelay - 1s;
        }
    }
    #seed {
        stroke-opacity: 0;
        @media (min-width: $lgBreakpoint) {
            stroke-opacity: 1;
            animation: fall $treeDelay ease-in forwards;
        }
    }
    a {
        display: none;
        @media (min-width: $lgBreakpoint) {
            display: inline-block;
        }
        text {
            font-family: 'Boogaloo', cursive;
            font-style: normal;
            font-weight: 400;
            font-size: 3px;
            line-height: 1.1696px;
            letter-spacing: 0px;
            word-spacing: 0px;
            fill: #ffffff;
            fill-opacity: 1;
            stroke: #ffffff;
            stroke-width: 0.0467839px;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-opacity: 0.996614;

            // fill: #000;
            fill-opacity: 0;
            // stroke: #000;
            stroke-width: 0.0467839px;
            stroke-opacity: 0;

            animation: fade-in 0.7s ease-in forwards;
            animation-delay: $treeDelay + 2.3s;
        }
    }
}

// *****************************************************************************
// ANIMATIONS
// *****************************************************************************

@keyframes fall {
    70% {
        transform: translateY(203px);
        opacity: 1;
        fill: $bgColor;
    }
    100% {
        transform: translateY(203px);
        fill: $fgColor;
        opacity: 0;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fade-in {
    100% {
        stroke-opacity: 1;
        fill-opacity: 1;
        opacity: 1;
    }
}


// *****************************************************************************
// MEDIA QUERIES
// *****************************************************************************

@media (min-width: $lgBreakpoint) {
    header {
        position: relative;

        @media (min-height: 865px) {
            margin-top: 80px;
        }

        h1 {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: 0;
            animation: fade-in 0.7s ease-in forwards;
        }
    }

    .social {
        animation: fade-in 0.7s ease-in forwards;
    }

    #tree-container {
        height: 80vh;
    }

    #tree {
        max-width: 1250px;
        max-height: 100%;
    }

    @media (min-height: 380px) {
        header h1 {
            font-size: 3em;
        }
    }
}

@media (min-width: 1200px) {
    header {
        @media (min-height: 965px) {
            margin-top: 100px;
        }
    }

    #tree {
        max-width: 1350px;
    }
}

// #mobile-nav {
//     position: relative;
//     padding: 0;
//     margin: 0;
//     top: 23%;
//     text-align: center;
//     font-size: 2em;

//     li {
//         color: $fgColor;
//         list-style: none;
//         padding: 10px;
//         margin: 0;

//         a {
//             color: $fgColor;
//             text-decoration: none;
//         }
//     }
// }
// main {
//     text-align: center;
//     position: absolute;
//     // top: 5%;
//     width: 100%;
//     height: 100%;

//     h1 {
//         font-size: 3em;
//         font-weight: bold;
//         margin: 10px;
//         opacity: 1;

//         @media (min-width: $desktopWidth) {
//             opacity: 0;
//             animation: fade-in 0.7s ease-in forwards;
//             animation-delay: $treeDelay + 2.3s;
//             position: absolute;
//             bottom: 15%;
//             text-align: center;
//             width: 100%;
//             margin: 10px 0;
//         }
//     }

//     .social {
//         list-style: none;
//         padding: 0;
//         margin: 0;
//         display: flex;
//         justify-content: center;
//         position: absolute;
//         bottom: 30px;
//         width: 100%;
//         // display: none;
//         z-index: 20;

//         font-size: 2.5em;

//         opacity: 1;
//         @media (min-width: $desktopWidth) {
//             opacity: 0;
//             animation: fade-in 0.7s ease-in forwards;
//             animation-delay: $treeDelay + 3s;
//         }

//         li {
//             padding: 10px;
//             display: inline-block;

//             a {
//                 display: block;
//                 padding: 5px;

//                 &:hover {
//                     transform: scale(1.2);
//                     transition: all 0.1s ease-in 0s;
//                 }
//             }
//         }
//     }
// }

// .credits {
//     opacity: 1;
//     text-align: right;
//     width: 100%;
//     font-size: 0.7em;

//     @media (min-width: $desktopWidth) {
//         opacity: 0;
//         animation: fade-in 0.7s ease-in forwards;
//         animation-delay: $treeDelay + 3s;
//         z-index: 20;
//     }
// }
