$desktopWidth: 992px;

$bgColor: #151515;
$fgColor: #fbfffb;

// *****************************************************************************
// ELEMENTS
// *****************************************************************************

.button {
    padding: 10px;
    border: 2px solid $fgColor;
    font-weight: bold;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in 0s;
    z-index: 1;
    display: block;

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: -100%;
        background-color: $fgColor;
        transition: all 0.2s ease-in 0s;
        z-index: -1;
    }

    &:hover {
        color: $bgColor;;

        &::before {
            transform: translateX(100%);
        }
    }

    @media (min-width: 768px) {
        display: inline-block;
        padding: 10px 30px;
    }
}

.blockLink {
    &:hover {
        text-shadow: 0 0 3px $fgColor;
    }
}

.linkList {
    display: flex;
    flex-direction: column;

    li {
        margin-bottom: 10px;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        li + li {
            margin-left: 10px;
            margin-bottom: 0;
        }
    }
}

// *****************************************************************************
// HEADER
// *****************************************************************************

header {
    margin-bottom: 30px;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    // justify-content: left;
    align-items: center;
    width: 100vw;
    z-index: 10;
    background-color: $bgColor;
    // box-shadow: 0 0 5px $fgColor;
    // padding: 5px;
    transition: all 0.4s ease-in 0s;

    color: $fgColor;

    #nav-tree {
        display: block;
        width: 170px;
        transition: all 0.3s ease-in 0s;
        svg {
            width: 100%;
            height: 100%;
            path {
                stroke: $fgColor;
                stroke-width: 7px;
            }
            a, #seed {
                display: none;
            }
        }
    }

    h1 {
        display: block;
        width: 100%;
        margin: 0 20px;
        text-align: center;
        font-size: 2.5em;
    }
}

.menuToggle {
    position: fixed;
    z-index: 30;
    right: 0;
    display: block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    padding: 15px;
    transition: all 0.3s ease-in 0s;
    transform-origin: center center;

    .toggleSymbol {
        box-shadow: 0px 2px 12px $fgColor;

        &::before {
            content: "";
            display: block;
            border-bottom: 4px solid $fgColor;
            margin-top: 8px;
            transition: all 0.2s ease-in 0s;
        }
        transition: all 0.3s ease-in 0s;
    }

    &.active {
        transform: rotate(180deg);
        .toggleSymbol:nth-child(2) {
            transform: translateY(14px) rotate(45deg);
            margin-left: 70px;
        }

        .toggleSymbol:nth-child(1) {
            transform: translateY(14px) rotate(45deg);
        }

        .toggleSymbol:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}

.mainMenu {
    text-align: center;
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    padding-top: 70px;
    font-family: 'Boogaloo', cursive;
    font-size: 2.5em;
    height: 100vh;
    left: 100%;
    transition: all 0.2s ease-in 0s;
    background-color: $bgColor;
    margin-right: 40px;

    &.active {
        left: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navLink {
        display: block;
        padding: 15px;
        transition: all 0.1s ease-in 0s;

        &.current {
            background-color: lighten($bgColor, 12%);
        }

        &:hover {
            background-color: $fgColor;
            color: $bgColor;
        }
    }

    .menuItem {
        padding: 0;
    }
}


// *****************************************************************************
// MAIN
// *****************************************************************************

body {
    padding-bottom: 20px;
}

main {
    // padding-top: 180px;

    @media (min-width: $desktopWidth) {
        // padding-top: 130px;
        transform: translateY(100%);
        animation: slideIn 0.5s ease-in forwards;
    }

    .section {
        margin-bottom: 40px;

        .smallTitle {
            font-family: 'Boogaloo', cursive;
            font-size: 1.3em;
        }
    }

    .item {
        margin-bottom: 30px;

        & > ul > li {
            margin-bottom: 30px;
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }

    h2 {
        font-size: 2.5em;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid $fgColor;
        border-left: none;
        border-right: none;
        padding: 10px 0;
        margin-bottom: 20px;
        // background-color: #1e1e1e;
    }

    h3 {
        text-align: left;
        font-size: 2.4em;
        position: relative;
        margin-bottom: 15px;

        span {
            padding: 0 15px;
            background-color: $bgColor;
            position: relative;
            z-index: 1;
        }
    }

    h4 {
        font-size: 1.5em;
        &:before {
            content: "\f06c  ";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;

            font-size: 0.7em;
        }
    }

    h5 {
        font-size: 1.3em;
    }
}

// *****************************************************************************
// MENU
// *****************************************************************************

.responsiveMenu {
    position: absolute;
    background-color: $bgColor;
    top: 0;
    left: 0;
    box-shadow: 0 2px 30px $fgColor;
    width: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .navLink {
            display: block;
            padding: 25px;
            font-family: 'Boogaloo', cursive;
            font-size: 2.5em;
            border-bottom: 1px solid #ffffff2e;
            text-align: center;
        }
    }
}


// *****************************************************************************
// ANIMATIONS
// *****************************************************************************

@keyframes slideIn {
    100% {
        transform: translateY(0);
    }
}


// *****************************************************************************
// MEDIA QUERIES
// *****************************************************************************

// MEDIUM SCREENS **************************************************************
@media (min-width: 768px) {
    /*************************************************************************
     * Header
     */
    header {
        position: fixed;
        top: 0;
        flex-direction: row;
        margin-bottom: 50px;

        h1 {
            margin: 0 20px;
            width: auto;
        }
    }

    .mainMenu {
        position: static;
        width: auto;
        height: auto;
        font-size: 2em;
        flex: 1 1;
        box-shadow: none;
        padding: 0;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: right;
        }

        .navLink {
            &:hover {
                background-color: $bgColor;
                color: $fgColor;
                text-shadow: 0 0 3px $fgColor;
            }
        }
    }

    main {
        margin-top: 130px;
    }
}

// LARGE SCREENS ***************************************************************
@media (min-width: 992px) {
    body {
        text-align: justify;
    }

    /*************************************************************************
     * Responsive menu
     */

    .responsiveMenu {
        ul {
            display: flex;
            justify-content: space-between;

            li {
                flex: 1 0;
            }

            .navLink {
                border: 0;
            }
        }
    }

}


// XXL SCREENS ***************************************************************
@media (min-width: 1650px) {
    .mainMenu {
        position: fixed;
        top: 110px;
        left: 0;
        height: 100vh;

        ul {
            flex-direction: column;
        }

        .menuItem {
            text-align: left;
        }
    }
}
