$desktopWidth: 992px;

$bgColor: #151515;
$fgColor: #fbfffb;

#quizz {
    img {
        background-color: #fbfffb;
        padding: 10px;
        max-width: 100%;
        max-height: 250px;
        width: auto;
        height: auto;
        margin: 5px auto;
        display: block;
        border-radius: 35px;
    }

    #quizz-choices {
        flex-direction: row;
        flex-wrap: wrap;

        li {
            width: 100%;
            margin-bottom: 10px;

            & + li {
                margin-top: 0;
            }
        }
        a {
            width: 100%;
        }
    }

    .score {
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        border: 3px solid white;
        margin: 30px auto;
        padding: 10px;
        border-radius: 10px;
    }

    .speciesList {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            width: 100%;
        }

        h3 {
            display: block;
            text-align: center;
            border: 1px solid #fbfffb;
            padding: 8px;
            border-left: none;
            border-right: none;
        }
    }

    a, button {
        display: block;
        cursor: pointer;
        text-align: center;
        border: 2px solid $fgColor;
        border-radius: 8px;
        background-color: $bgColor;
        color: $fgColor;
        padding: 7px;
        // margin-left: 5px;
        transition: all 0.3s ease-in 0s;
        width: 100%;

        &:hover, &.current {
            color: $bgColor;
            background-color: $fgColor;
        }
    }

    h3 {
        &::before {
            display: none;
        }
    }
}

.buttonList {
    margin: 5px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $desktopWidth) {
        flex-direction: row;
        justify-content: flex-start;
    }

    li {
        display: inline-block;

        & + li {
            margin-top: 10px;
            @media (min-width: $desktopWidth) {
                margin-top: 0;
                margin-left: 10px;
            }
        }
    }
}

button {
    &.quizzGoodSpecies {
        border-color: green!important;
    }

    &.quizzBadSpecies {
        border-color: red!important;
    }
}

.quizzGoodSpecies img {
    border: 2px solid green;
}
.quizzBadSpecies img {
    border: 2px solid red;
}

#next-button {
    position: absolute;
    top: 50%;

    button {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 50%;
        height: 70px;
        width: 70px;
        display: inline;
        border-width: 6px;
        border-color: black;
        background: #000000b5;
        margin: -30px 0 0 -30px;
        // margin-top: -30px;
        // margin-left: -30px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 20;
            top: 50%;
            left: 50%;
            height: 30px;
            width: 30px;
            margin-top: -15px;
            margin-left: -15px;
            border: 8px solid white;
            border-top: none;
            border-left: none;
            transform: translateX(-5px) rotate(-45deg);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0px;
            right: 0%;
            bottom: 0;
            background: green;
            z-index: 15;
        }
    }
}
