<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicons -->
        <meta
            name="description"
            content="Camille Puverel, PhD in ecology">
        <meta name="keyword" content="phytoremediation ecology phd">
        <!-- open graph -->
        <meta property="og:title" content="Camille Puverel - PhD in ecology and phytoremediation" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://camillepuverel.fr/" />
        <meta property="og:image" content="https://camillepuverel.fr/apple-touch-icon.png" />
        <!-- end open graph -->
    </head>
    <body>
        <header>{% block header %}{% endblock %}</header>
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="credits">
                &copy 2020 Camille Puverel -
                Webdesign and development:
                <a href="https://norival.dev" target="_blank" rel="noopener noreferrer">Norival.dev</a>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
