<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" href="data:,">
    </head>
    <body>
        <header>{% block header %}{% endblock %}</header>
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="credits">
                &copy 2020 Camille Puverel -
                Webdesign and development:
                <a href="https://norival.dev" target="_blank" rel="noopener noreferrer">Norival.dev</a>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
